@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100&display=swap');
* {
    font-family: 'Merriweather', serif;


}

body {
    background-image: url("background.jpeg");
}

p {
    text-align: center;
    font-size: x-large;

}
