@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@100&display=swap');
* {
    font-family: 'Merriweather', serif;


}

p {
    text-align: center;
    font-size: x-large;

}

body {
    /* The image used */
    background-image: url("unnamed.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }